{% extends "includes/base.html" %}
{% block title %}Последние обновления автора {{ user.get_full_name }}{% endblock %}
{% block header %}Последние обновления автора {{ user.get_full_name }}{% endblock %}
{% block content %}

<main role="main" class="container">
 <div class="row">
  <div class="col-md-3 mb-3 mt-1">
      {% include "includes/author.html" %}
  </div>

  <div class="col-md-9">
        {% for post in page %}

        {% include "includes/post_item.html" %}
       
        {% endfor %}

        {% include "includes/paginator.html" %}
  </div>
 </div>


</main>

{% endblock %}